:root {
  --HF-text: #7b50a3;
  --HF-bg: linear-gradient(to right, #dde99a, #f4ffb3, #dde99a);
  --page-section: linear-gradient(to right, #b3ca30, #fbffe5, #98ad20);
  --H-OL: #432261;
  --H2-H6: #9fb812;
  --H2-H6-BG: #f8ffce;
  --img-borders: #73d58a;
  --txt: rgb(237, 163, 232);
}


* {
  box-sizing: border-box;
  background:rgb(255, 221, 255);
  background: transparent;
}


body {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  border-left: 1px solid;
  border-right: 1px solid;
}


header {
  position: sticky;
  top: 0;
  margin-right: 30px;
  margin-top: -8px;
  width: 100%;
  border-top: 4px solid;
  border-bottom: 2px solid;
  background: var(--HF-bg);
  color: var(--HF-text);
  display: flex;
  align-items: center;
}
#header-list {
  list-style: none;
  margin-right: 10px;
}
.hdr-border-dets {
  display: inline-block;
  border: var(--HF-text) solid;
  border-radius: 8%;
}
.hdr-a {
  text-align: right;
  text-decoration: none;
  color: var(--HF-text);
}


h1 {
  font-size: 40px;
  margin-left: 20px;
}
h2, h3, h5, h6 {
  margin-left: 20px;
  outline: var(--H-OL);
  color: var(--H2-H6);
  background: var(--H2-H6-BG);
  padding: 4px;
}


p {
  margin: 5px;
}


.hero-banner {
  text-align: center;
}


.page-wrapper {
  display: grid;
  grid-template-columns: 33% 50% 17%;
  grid-template-areas: 
  "about work contact"
}


.page-section {
  background: var(--page-section);
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
}
#about-img {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  margin-left: 4px;
  outline: var(--img-borders) solid 4px;
}


#work1 {
  grid-area: work1;
  background-image: url("../images/pigeon7.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  outline: var(--img-borders) solid 4px;
}
#work2 {
  grid-area: work2;
  background-image: url("../images/pigeons1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  outline: var(--img-borders) solid 4px;
}
#work3 {
  grid-area: work3;
  background-image: url("../images/pigeon5.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  outline: var(--img-borders) solid 4px;
}
#grid {
  margin-left: 10px;
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "work1 work1 work3"
  "work1 work1 work3"
  "work2 work2 work2";
  gap: 10px;
  margin-right: 30px;
}
.grid-txt {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
}
.work-sub-list {
  display: block;
  list-style-type: circle;
}


#about {
  grid-area: about;
}
#work {
  grid-area: work;
}
#contact {
  grid-area: contact;
}
#work p,li {
  color: var(--txt);
}
#about


#contact-img {
  outline: var(--img-borders) solid 4px;
}


footer {
  margin-top: 4px;
  width: 100%;
  border-top: 2px solid;
  border-bottom: 4px solid;
  background: var(--HF-bg);
  color: var(--HF-text);
  position: relative;
  text-align: center;
  margin: auto
}
h4 {
  font-size: 15px;
}
#footer-list {
  font-size: 10px;
  list-style: none;
}


@media screen {
  
}