:root {
  --HF-text: #7b50a3;
  --HF-bg: linear-gradient(to right, #dde99a, #f4ffb3, #dde99a);
}

* {
  box-sizing: border-box;
}

header {
  margin-top: -8px;
  position: fixed;
  border-top: 4px solid;
  border-bottom: 2px solid;
  background: var(--HF-bg);
  color: var(--HF-text);
}
#header-list {
  list-style: none;
}
.list1 {
  display: inline-block;
  margin-right: 10px;
}

body {
  margin-left: 30px;
  margin-right: 30px;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  border-left: 1px solid;
  border-right: 1px solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-left: 20px;
}

p {
  margin: 0;
}

footer {
  border-top: 2px solid;
  border-bottom: 4px solid;
  background: var(--HF-bg);
  color: var(--HF-text);
  position: relative;
  text-align: center;
  margin: auto
}
h3 {
  font-size: 15px;
}
#footer-list {
  font-size: 10px;
  list-style: none;
}